<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!--<package id="Memory.dll" version="1.2.23" targetFramework="net461" />-->
  <package id="Fasm.NET" version="1.70.03" targetFramework="net46" />
  <package id="MemorySharp" version="1.2.0" targetFramework="net46" />
  <package id="SharpDX" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.XInput" version="4.2.0" targetFramework="net461" />
</packages>